body{
min-height: 900px;
padding: 0px 48px 0px 48px;
margin: 0 auto;
}
.header{
width: 1416px;
height: 48px;
padding: 16px 0px 16px 0px;
display: flex;
justify-content: space-between;
}
.logo{
font-size: 42px;
font-weight: 400;
line-height: 42px;
text-align: left;
font-family: 'Playball', cursive;
}
.pagelinks{
font-family: Lexend Exa;
font-size: 28px;
font-weight: 300;
line-height: 32px;
text-align: left;
display: flex;
gap: 32px;
}
.divider{
    border: 1px solid #00000029;
    width: 1512px;
    margin-left: -53px;
}
.container{
    width: 1416px;
    height: 4261px;
    align-content: center;
}
.maincontainer{
    width: 1416px;
    height: 4165px;
}
.landingpage{
    width: 1416px;
    height: 960px;
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.textwelcome{
    font-family: Lexend Exa;
    font-size: 120px;
    font-weight: 300;
    line-height: 120px;
    text-align: center;
}
.img1{
    height: 672px;
}
.personal{
    width: 1416px;
    height: 1191px;
}
.row1{
    width: 1416px;
    height: 333px;
    display: flex;
    flex-direction: row;
    padding: 48px 0;
    justify-content: space-around;
}
.row2{
    width: 1416px;
    height: 333px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 48px;
}
.row3{
    width: 1416px;
    height: 333px;
    display: flex;
    flex-direction: row;
    padding-bottom: 48px;
    justify-content: space-around;
}
.project1{
    width: 416px;
    height: 333px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.pimg{
    width: 416px;
    height: 273px;
}
.ptext{
    width: 416px;
    height: 48px;
    display: flex;
    flex-direction: column;
}
.ptext1{
    width: 416px;
    height: 24px;
    font-family: Newsreader;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.ptext2{
    width: 416px;
    height: 24px;
    font-family: Newsreader;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #00000099;


}
.aboutsection{
    width: 1416px;
    height: 452px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.abouttext{
    font-family: Lexend Exa;
    font-size: 48px;
    font-weight: 300;
    line-height: 52px;
    text-align: center;
    width: 900px;
    height: 260px;
    max-width: 900px;
    gap: 0px;
    opacity: 0px;
}
.description{
    width: 1416px;
    height: 1074px;
    display: flex;
    flex-direction: column;
    padding-top: 48px;
}
.checkouttext{
    width: 1416px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.ctext{
    width: 1260px;
    height: 116px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.ctext1{
    font-family: Lexend Exa;
    font-size: 64px;
    font-weight: 300;
    line-height: 68px;
    text-align: center;
}
.ctext2{
    font-family: Newsreader;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}
.cbutton{
    width: 112px;
    height: 24px;
    border-radius: 8px;
    background-color: #AD7C00;
    padding: 16px 24px;
}
.cbtext{
    font-family: Lexend Exa;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    height: 24px;
    width: 112px;
    color: #FFFFFF;
    
}
.artistdrawing{
    width: 1416px;
    height: 756px;
    margin-top: 48px;
}
.divider2{
    border: 1px solid #00000029;
    width: 1512px;
    margin-left: -53px;
    margin-top: 48px;
}
.paragraph{
    width: 1416px;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 120px;
}
.pspace{
    width: 648px;
    height: 154px;
}
.paragraphtext{
    font-family: Newsreader;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    width: 648px;
    height: 154px;
}
.footer{
    width: 1416px;
    height: 56px;
    padding-top: 96px;
    padding-bottom: 24px;
}
.fcontainer{
    width: 1416px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ftext{
    font-family: Lexend Exa;
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-align: left;
    width: 305px;
    height: 32px;
    color: #00000099;

}
.contectme{
    width: 134px;
    height: 20px;
    padding: 16px 24px;
    border-radius: 8px ;
    border: 2px solid #00000029;
}
.contectmetext{
    font-family: Lexend Exa;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 138px;
    height: 24px;
}
.home:hover{
    color: #e45f58;
    text-decoration: underline;
}
.projects:hover{
    color: #e45f58;
    text-decoration: underline;
}
.about:hover{
    color: #e45f58;
    text-decoration: underline;
}
.contect:hover{
    color: #e45f58;
    text-decoration: underline;
}